*{
    font-family: "Roboto", sans-serif;
}

h1,h2,h3{
    margin: 0;
    padding: 0;
}

header{
    color: #8BC34A;
    text-align: center;
    border-bottom: 1px solid #8BC34A;
}

#buscador{
    color: white;
    text-shadow: #8BC34A 1px 1px;
    *background-image: url("../casa1.jpg");
    background-color: #8BC34A;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 22px;
    text-align: center;
    padding: 20px 0;
}

#buscador p{
    margin:0 auto;
    margin-bottom: 30px;
}

#buscador div{
    margin: 5px auto;
}

input[type="submit"],button{
    background-color: #8BC34A;
    border: none;
    margin: 0 auto;
    color: white;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type="text"],input[type="date"]{
    width: 55%;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}

section h2{
    text-align: center;
    padding: 20px;
}

.card{
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
}

.card img{
    padding-top: 20px;
    width: 100px;
    height: 100px;
}

.card h3{
    color:#8BC34A;
}

#ultimascasas h2{
    margin: 10px;
    text-align: center;
}

#descripcioncasa{
    grid-area: descripcioncasa;
    font-size: 18px;
    padding: 0;
}

#fotocasa{
    grid-area: fotocasa;
    width: 140px;
    height: 100px;
}

#preciocasa{
    grid-area: preciocasa;
}

.cardCasas h2{
    padding: 10px;
    grid-area: nombrehotel;
}

.cardCasas a{
    grid-area: reservaCasa;
    width: 80px;
}

.cardCasas{
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
                "nombrehotel . ."
                "fotocasa descripcioncasa descripcioncasa"
                "fotocasa descripcioncasa descripcioncasa"
                "preciocasa . reservaCasa";
    grid-gap: 10px;
    transition-duration: 1s;
}

.cardCasas:hover{
    transform: scale(1.04);
    transition-duration: 1s;
}

footer{
    background-color: #8BC34A;
    margin-top: 10px;
    display: flex;
    text-align: center;
}

footer a{
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
}

footer h3{
    padding: 10px;
}

footer div{
    flex-basis: 48%;
}

@media (min-width:600px){
    #buscador{
        *background-image: url("../casa2.jpg");
        display: grid;
        *background-size: cover;
        grid-template-columns: repeat(6,auto);
        grid-template-rows: repeat(6,auto);
        grid-area: ". . . . . ."
                    ". labelDestino destino destino . ."
                    ". labelEntrada entrada labelSalida salido ."
                    ". labelExtra . . . ."
                    " . desayuno cena wifi . .";
    }
    
    #nosotros{
        display: flex;
        flex-direction: row;
    }

    .card{
        margin: 0 auto;
        margin-top: 10px;
        flex-basis: 28%;
        box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        text-align: center;
    }

    #ultimascasas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #fotocasa{
        width: 140px;
        height: 120px;    
    }
    
}

@media (min-width:1366px)  {

    #fotocasa{
        width: 250px;
        height: 190px;    
    }

    #descripcioncasa{
        font-size: 25px;
    }

}

