
*{
    font-family: 'Roboto', sans-serif;
}

h2{
    margin: 0;
    *text-shadow: black 4px 4px;
    font-size: 30px;
}

ul{
    list-style: none;
    list-style-image: none;
    display: none;
}

li{
    padding: 0;
    margin: 0;
}

#sobre_mi{
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    background-image: url("img/fondo-medium.jpeg");
    background-repeat: no-repeat;
    background-position: 20%;
    *background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.capa{
    background-color: rgba(0, 0, 0, 0.63);
    height: 100vh;
    text-align: center;
    font-size: 22px;
}

.capa div{
    margin-top: 20%;
}

.capa h2{
    margin-top: 10%;
}

#menu{
    text-align: right;
    margin: 0;
    padding: 10px;
}

#portfolio{
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    background-image: url("img/pattern-medium.jpeg");
    background-repeat: repeat-y;
    height:auto;
    text-align: center;
}

#portfolio, #contacto h2{
    padding: 20px;
    font-size: 34px;
}

.cajaWeb{
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.63);
    margin-bottom: 10px;
}

.cajaWeb p{
    font-size: 20px;
}

.cajaWeb img{
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    height: 280px;
}

#contacto{
    color: white;
    *text-align: center;
    background-color: rgba(0, 0, 0, 0.63);
    background-image: url("img/contact-medium.jpeg");
    height:auto;
    text-align: center;
}

#contacto form{
    font-size: 25px;
    text-align: justify;
    padding: 30px;
}

#capaContacto{
    background-color: rgba(0, 0, 0, 0.63);
}

input, textarea{
    width: 90%;
}

input, textarea, label{
    margin: 20px;
}
