:root {
    --servidor: #AFB42B; 
    --HLC:#512DA8;
    --despliegue: #CDDC39; 
    --diseño: #06D6A0; 
    --cliente: #BDBF09; 
    --dark-primary-color : #FBC02D;
    --light-secondary-color:#FFF9C4;
    --primay-color:#FFEB3B;
    --text-color:#212121;
    --secondary-text-color:#757575;
  }

*{
    font-family: "Roboto", sans-serif;
    list-style: none;
}

h1{
    margin: 0;
    padding: 10px 0;
}

header{
    text-align: center;
    background-color: var(--dark-primary-color);
}

nav{
    background-color: var(--dark-primary-color);
}

ul{
    padding: 0;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li{
    *margin-top: 3px;
    text-align: center;
    padding: 5px;
    border: 1px black solid;
}

main{
    background-color: var(--primay-color);
    min-height: 80vh;
}

main button{
    margin: 10px;
    border-radius: 5px;
    background-color: var(--light-secondary-color);
}

main h2{
    margin: 0;
    padding-top: 20px;
    text-align: center;    
}

section{
    padding: 10px;
    background-color: var(--primay-color);
}

.nota{
    color: #212121;
    margin: 5px auto;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 'titulonota titulonota titulonota titulonota editchincheta'
                'des des des des des '
                'des des des des des '
                'delete . . . fecha'
}

.nota p{
    padding: 5px 10px;
    margin: 0;
    grid-area: des;
}

.nota h3{
    color: #212121;
    text-shadow: 1px 1px #757575;
    padding-left: 10px;
    padding-top: 15px;
    text-align: left;
    margin: 0;
    margin-bottom: 0;
    grid-area: titulonota;
}

.nota span{
    padding-right: 7px;
    padding-bottom: 7px;
    text-align: right;
    grid-area: fecha;
}

.nota:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.chincheta{
    width: 30px;
    height: 20px;
}

#editchincheta{
    grid-area: editchincheta;
    padding: 5px;
    justify-self: end;
}

#edit{
    transform: scaleX(-1);
    grid-area: edit;
    width: 30px;
    height: 20px;
}

#edit:hover {
    transform: scaleX(1);
}

#delete{
    grid-area: delete;
    width: 30px;
    height: 20px;
}

#delete:hover {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

#diw{
    background-color:  var(--diseño);
    box-shadow: 1px 1px 2px 1px var(--diseño);
}

#cliente{
    box-shadow: 1px 1px 2px 1px var(--cliente);
    background-color: var(--cliente);
}

#servidor{
    box-shadow: 1px 1px 2px 1px var(--servidor);
    background-color: var(--servidor);
}

#hlc{
    box-shadow: 1px 1px 2px 1px var(--HLC);
    background-color: var(--HLC);
}

#despliegue{
    box-shadow: 1px 1px 2px 1px var(--despliegue);
    background-color: var(--despliegue);
}

#add {
    position: fixed;
    right: 1%;
    bottom: 1%;
    padding: 5px;
    background-color: yellow;
    height: 40px;
    width: 40px;
    border: 1px black solid;
    border-radius: 50px;
}

#form{
    width: 100vh;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
    transition-duration: 1s;
}

footer{
    min-height: 20vh;
    border-top: 1px solid black;
    text-align: center;
    color: #212121;
    background-color: black;
    overflow: hidden;
}

footer h3{
    margin: 0;
    padding: 15px;
}

footer div{
    font-size: 12px;
    margin-bottom: 5px;
}

@media (min-width:600px)  {

    nav{
        background-color: #D1C4E9;
    }

    ul{
        padding: 5px;
        flex-direction: row;
        justify-content: start;
    }

    li{
        font-size: 19px;
        text-align: left;
        color: #212121;
        border: none;
        background-color: #D1C4E9;
        padding: 0;
        margin: 0;
        width: 11%;
    }

    #liServidor:hover{
        color: var(--servidor);
    }

    #liDiseño:hover{
        color: var(--diseño);
    }

    #liCliente:hover{
        color: var(--cliente);
    }

    #liDespliegue:hover{
        color: var(--despliegue);
    }

    #liHLC:hover{
        color: var(--HLC);
    }

    section{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 15px;
    }

    .nota{
        margin: 0;
    }

    #add{
        display: none;
    }


}

@media (min-width:1366px)  {

    main button{
        
    }

    section{
        display: grid;
        grid-template-columns: repeat(5,auto);
        grid-gap: 15px;
    }
}

