:root {
    --servidor: #2292A4; 
    --HLC: #388659;
    --despliegue: #E1CA96; 
    --diseño: #06D6A0; 
    --cliente: #BDBF09; 
  }

*{
    font-family: "Roboto", sans-serif;
    list-style: none;
}

html{
    background-image: url("4577.eps");
}

h1{
    margin: 0;
    padding: 10px 0;
}

header{
    text-align: center;
    background-color: blanchedalmond;
}

nav{
    background-color: blanchedalmond;
}

ul{
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li{
    margin-top: 3px;
    text-align: center;
    background-color: red;
    padding: 5px;
    border: 1px black solid;
}

main{
    background-color: blanchedalmond;
}

main h2{
    margin: 0;
    padding-top: 20px;
    text-align: center;    
}

section{
    padding: 10px;
    background-color: blanchedalmond;
}

.nota{
    color: white;
    margin: 5px auto;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 'titulonota titulonota titulonota titulonota editchincheta'
                'des des des des des '
                'des des des des des '
                'delete . . . fecha'
}

.nota p{
    padding: 5px 10px;
    margin: 0;
    grid-area: des;
}

.nota h3{
    color: white;
    text-shadow: 1px 1px black;
    padding-left: 10px;
    padding-top: 15px;
    text-align: left;
    margin: 0;
    margin-bottom: 0;
    grid-area: titulonota;
}

.nota span{
    padding-right: 7px;
    padding-bottom: 7px;
    text-align: right;
    grid-area: fecha;
}

.chincheta{
    width: 30px;
    height: 20px;
}

#editchincheta{
    grid-area: editchincheta;
    padding: 5px;
    justify-self: end;
}

#edit{
    grid-area: edit;
    width: 30px;
    height: 20px;    
}

#delete{
    grid-area: delete;
    width: 30px;
    height: 20px;
}

#diw{
    background-color: #06D6A0;
    box-shadow: 1px 1px 2px 1px #06D6A0;
}

#cliente{
    box-shadow: 1px 1px 2px 1px #BDBF09;
    background-color: #BDBF09;
}

#servidor{
    box-shadow: 1px 1px 2px 1px #2292A4;
    background-color: #2292A4;
}

#hlc{
    box-shadow: 1px 1px 2px 1px #388659;
    background-color: #388659;
}

#despliegue{
    box-shadow: 1px 1px 2px 1px #E1CA96;
    background-color: #E1CA96;
}

#add {
    position: fixed;
    right: 1%;
    bottom: 1%;
    padding: 5px;
    background-color: yellow;
    height: 40px;
    width: 40px;
    border: 1px black solid;
    border-radius: 50px;
}

footer{
    border-top: 1px solid black;
    text-align: center;
    color: white;
    background-color: black;
}

footer h3{
    margin: 0;
    padding: 15px;
}

@media (min-width:600px)  {

    nav{
        background-color: black;
    }

    ul{
        padding: 5px;
        flex-direction: row;
        justify-content: start;
    }

    li{
        text-align: left;
        color: white;
        border: none;
        background-color: black;
        padding: 0;
        margin: 0;
        width: 11%;
    }

    #liServidor:hover{
        color: var(--servidor);
    }

    #liDiseño:hover{
        color: var(--diseño);
    }

    #liCliente:hover{
        color: var(--cliente);
    }

    #liDespliegue:hover{
        color: var(--despliegue);
    }

    #liHLC:hover{
        color: var(--HLC);
    }

    section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
    }

    .nota{
        margin: 0;
        
    }


}
